.loan-details {
    /* max-width: 900px; */
    margin: auto;
    padding: 20px;
    /* background-color: #fff; */
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
  }
  
  .loan-details h1 {
    /* text-align: center; */
    margin-bottom: 20px;
    color: #333;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th,
  .data-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  .data-table td {
    color: #090040;
  }
  
  .data-table th {
    background-color: #0a0a23;
    color: white;
  }
  
  .data-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  

  .search-box {
    margin-bottom: 20px;
    max-width: 300px;
  }
  
  .search-box input {
    width: 100%;
    padding: 10px 14px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .no-data {
    text-align: center;
    color: #777;
    padding: 20px;
  }
  